body {
    top: 0;
    margin: 0;
    background-color: #000;
}

.game-screen {
    display: flex;
    width: 100vw;
    background-image: url('../images/8bit-backdrop.png');
    background-size: 100vw;
}

.hidden-player,
.hidden-form {
  visibility: hidden;
}

.player-article,
.player-score {
    width: calc(50% - 400px);
    width: calc(50% - 400px);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: #c02800;
    font-size: 2vw;
}

.player-score h2 {
    margin-top: 0;
    font-size: 6vw;
}

#form-name {
    display: flex;
}

.submit-button {
  position: relative;
  right: 2rem;
  bottom: .2rem;
  line-height: .4rem;
  color: #fff;
  border: none;
  background-color: #ff0000;
}

#user-name {
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #c02800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

input[type=submit] {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 10px 0;
}

#scoreboard {
    display: block;
    width: 200px;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #c02800;
}

#screen {
    background-image: url('./../images/bricks.jpg');
    display: block;
    margin: auto;
}

#past-scores {
    color: black; 
    font-size: 1rem;
}

li {
    text-decoration: none;
    padding-top: .5rem;
}

#flame-container {
    display: flex;
    width: 800px;
    height: 60px;
    top: 637px;
    left: calc(50% - 400px);
    margin: none;
    padding: none;
    position: absolute;
    z-index: 0;
    visibility: hidden;
}

#flame {
    width: 80px;
    height: 60px;
    background-image: url('../images/fire.gif');
}